.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
}

.footer-logo-container {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50px;
}

.footer-logo {
  height: 75px;
  width: auto;
  margin-right: 20px;
}

.footer-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-name {
  margin-bottom: 0px;
}

.footer-links ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline;
  margin: 0 35px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
/* Responsivo */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo-container {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-content {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 100px;
  }

  .footer-content p {
    font-size: 14px;
  }
}