/* márgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
}

/* contenedor principal */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header y Footer pegados al borde superior e inferior */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* Espacio y diiseño para el contenido principal */
.section-main {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section-main h2 {
  margin-bottom: 15px;
  color: #444;
}

.section-main p {
  color: #000000;
}

/* Navbar */
.navbar {
  background-color: #641a96;
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}